.presentation{
  margin-top: 6.8rem;
  display: flex;
  flex-direction: column;

  
}

.presentation_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  
}

.presentation-title{
  font-size: 2rem ;
  font-weight: 700;
  text-align: center;
  line-height: 3rem;

  color: var(--blue-color);

}

.presentation-content {
  margin-top: 3rem;
  text-align: center;
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--text-color);
}

.presentation-button{
  margin-top: 3rem;
  text-decoration: none;
  height: 5.6rem;
  width: 22.5rem;

  background-color: var(--blue-color);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.4rem;
  border-radius: 5px;
}

.presentation-image{
  align-self: center;
  max-width: 29rem;
  max-height: 30rem;
  margin-top: 4rem;
}

@media(min-width: 768px){
  .presentation{
    flex-direction: row;
  }

  .presentation_container{
    align-items: flex-start;
    margin-right: 7rem;

  }

  .presentation-title{
    text-align: left;
    font-size: 2.6rem;
    line-height: 3.6rem;
  }

  .presentation-content{
    text-align: left;
  }

  .presentation-image{
    margin-top: 0;
    min-height: 30rem;
  }

 
}

@media(min-width: 1024px){
  .presentation-image{
    max-width: 42rem;
    max-height: 40rem;

  }
}

@media(min-width: 1200px){
  .presentation-title{
    font-size: 3.6rem;
    line-height: 5.5rem;
  }

  .presentation-content{
    font-size: 1.8rem;
    line-height: 2.7rem;
  }

  .presentation-image{
    max-width: 50rem;
    max-height: 63rem;

  }
}

